.cell {
    width: 42px;
    height: 42px;
    outline: 1px solid black;
    vertical-align: top;
    display: inline-block;
}

.cell-start {
    background-color: green;
}

.cell-finish {
    background-color: red;
}

.cell-wall {
    background-color: black;
}

.cell-visited {
    animation-name: visiting;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.cell-weight-0 {
    outline: 1px solid black;
    background-color: rgb(240);
}
.cell-weight-1 {
    outline: 1px solid black;
    background-color: rgb(250, 200, 200);
}
.cell-weight-2 {
    outline: 1px solid black;
    background-color: rgb(250, 150, 150);
}
.cell-weight-3 {
    outline: 1px solid black;
    background-color: rgb(250, 50, 50);
}

@keyframes visiting {
    0% {
        background-color: #08163d;
        transform: scale(0.25);
    }
    50% {
        background-color: #155e8f;
        transform: scale(1.1);
    }
    100% {
        background-color: #30acff;
        transform: scale(1);
    }
}

@keyframes final-path {
}
