.cell {
    width: 42px;
    height: 42px;
    outline: 1px solid black;
    vertical-align: top;
    display: inline-block;
}

.cell-start {
    background-color: green;
}

.cell-finish {
    background-color: red;
}

.cell-wall {
    background-color: black;
}

.cell-visited {
    background-color: blue;
}
