.cell {
    width: 42px;
    height: 42px;
    outline: 1px solid black;
    vertical-align: top;
    display: inline-block;
}

.cell-start {
    background-color: green;
}

.cell-finish {
    background-color: red;
}

.cell-wall {
    background-color: black;
}

.cell-visited {
    animation-name: visiting;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes visiting {
    0% {
        background-color: #08163d;
        transform: scale(0.25);
    }
    50% {
        background-color: #155e8f;
    }
    100% {
        background-color: #30acff;
        transform: scale(1);
    }
}
